---
import MainLayout from "~/layouts/MainLayout.astro"

const uncategorizedDocs = await Astro.glob("./*.md")
---

<MainLayout title="Docs">
  <nav>
    <a href="/docs/4-5">4º 5ª</a>
    <a href="/docs/5-3">5º 3ª</a>
    <a href="/docs/tutiles">Tarjetas Útiles</a>
    <a href="/docs/the-cloc">The Cloc</a>
  </nav>
  <hr />
  {uncategorizedDocs.map((doc) => (
    <article>
      <a href={doc.url}>{doc.frontmatter.title}</a>
    </article>
  ))}
</MainLayout>
