---
import MainLayout from "~/layouts/MainLayout.astro"

const uncategorizedDocs = await Astro.glob("./*.md")
---

<MainLayout title="Docs">
  <nav class="docs-nav">
    <a href="./4-5/">4º 5ª</a>
    <a href="./5-3/">5º 3ª</a>
    <a href="./tutiles/">Tarjetas Útiles</a>
    <a href="./the-cloc/">The Cloc</a>
    <a href="./unlp/">UNLP</a>
    <a href="./with-markiplier/">With Markiplier</a>
  </nav>
  <hr />
  <ul>
    {uncategorizedDocs.map((doc) => (
      <li>
        <a href={doc.url}>{doc.frontmatter.title}</a>
      </li>
    ))}
  </ul>
</MainLayout>
