@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/* List */

	ul {
		&.icons {
			li {
				a {
					-ms-behavior: url('assets/js/PIE.htc');

					&:before {
						text-align: center;
						font-size: 26px;
					}
				}
			}
		}
	}

/* Main */

	#main {
		-ms-behavior: url('assets/js/PIE.htc');

		.avatar {
			img {
				-ms-behavior: url('assets/js/PIE.htc');
			}
		}
	}

/* Footer */

	#footer {
		color: #fff;

		.copyright {
			li {
				border-left: solid 1px #fff;
			}
		}
	}
