.measure {
  max-width: 20rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
  border: 2px solid var(--border);
  border-radius: 5px;
  background-color: var(--accent-bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.measure .value {
  font-size: 7rem;
  font-weight: bold;
}

.measure .label {
  font-size: 1rem;
  font-style: italic;
}

.measure .value, .label {
  user-select: none;
}

.play .inputs {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.play .slider {
  width: 100%;
}

.play .text {
  width: 75px;
}

.play .playpause {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.play .playpause button span {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}

.play .playpause button svg {
  height: 1em;
  width: 1em;
  fill: none;
  stroke: currentColor;
}