$background: #fff;
$primaryColor: #ce125a;
$primaryColorActive: #940a3f;
$textColor: #333333;
$secondaryTextColor: #8e8e8e;

$bodyMaxWidth: 960px;

@mixin hr {
  border-bottom: 1px solid #eee;
}

@mixin dot {
  &::after {
    content: "\2219";
    padding: 0 5px;
  }
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: $textColor;
}

a {
  text-decoration: none;
  color: $primaryColor;
  transition: 0.25s;

  &:hover {
    color: $primaryColorActive;
  }
}

body {
  margin: 0 auto;
  padding: 0 10px;
  max-width: $bodyMaxWidth;
  background-color: $background;

  > * {
    width: 100%;
  }
}

header {
  @include hr();
  margin-top: 10vh;
  padding-bottom: 5vh;

  h1,
  h3 {
    margin: 0;
    text-align: center;
  }

  h1 {
    font-weight: bold;
    font-size: 50px;
  }

  h3 {
    font-weight: normal;
    font-size: 18px;
  }
}

section {
  @include hr();
  padding-bottom: 15px;

  h2 {
    font-size: 32px;
  }

  ul {
    list-style: none;
    padding: 0;

    > li {
      font-size: 16px;
      margin: 12px 0;
    }
  }
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 5vh 0;

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 18px;

    .social {
      margin: 10px 10px;
    }
  }

  span {
    color: $secondaryTextColor;
  }
}

.project {
  * {
    transition: 0.33s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .top {
    .name {
      @include dot();
    }

    .description {
      color: $secondaryTextColor;
    }

    &:hover {
      cursor: pointer;
      .name {
        color: $primaryColor;
      }
    }
  }

  .info {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;

    li {
      font-weight: 300;
      margin: 0;

      .name {
        @include dot();
        font-weight: normal;
      }

      a.name::after {
        content: none;
      }

      .stack-item {
        @include dot();

        &:last-of-type::after {
          content: none;
        }
      }
    }
  }

  &.active {
    .top {
      margin-bottom: 10px;

      .name {
        font-weight: bold;
        font-size: 20px;

        &::after {
          content: none;
        }
      }

      .description {
        opacity: 0;
        @media (max-width: $bodyMaxWidth) {
          display: none;
        }
      }
    }

    .info {
      margin-bottom: 25px;
      max-height: 75px;
      @media (max-width: $bodyMaxWidth) {
        max-height: 150px;
      }
    }
  }
}
