@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stretch-expanded {
    font-stretch: expanded;
  }

  .stretch-normal {
    font-stretch: normal;
  }

  .text-display {
    @apply stretch-normal text-black dark:text-white;
  }

  .text-body {
    @apply stretch-expanded text-stone-800 dark:text-stone-200;
  }
}

body {
  font-family: "Iosevka Web", theme("fontFamily.mono");
  @apply bg-stone-50 dark:bg-stone-900 border-t-8 border-red-500 text-body;
}

hr {
  @apply border-stone-200 dark:border-stone-700;
}

input[type="number"].no-spinner::-webkit-inner-spin-button,
input[type="number"].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].no-spinner {
  -moz-appearance: textfield;
}

/* Docs */

.remark-code-title {
  @apply block bg-red-500 text-white text-sm px-4 py-1 rounded-t-md w-min rounded-bl-none;
}

.remark-code-title + .astro-code {
  @apply mt-0 rounded-tl-none;
}

.mermaid > svg {
  height: min-content;
  padding: 4px;
}

/* QR */

.form-input {
  @apply text-black bg-white border border-stone-200 w-full p-1 focus:outline-red-500;
}

.form-label {
  @apply uppercase text-xs text-display;
}

input[type="file"] {
  @apply block w-full text-sm text-stone-500;
  @apply cursor-pointer file:cursor-pointer;
  @apply file:mr-4 file:py-2 file:px-4 file:border-0;
  @apply file:text-sm file:font-semibold;
  @apply file:bg-red-500 file:text-white;
  @apply hover:file:bg-red-600 file:transition-colors;
}
