.container {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 2px solid var(--border);
  border-radius: 5px;
  background-color: var(--accent-bg);
  color: var(--text);
  margin-bottom: 4rem;
}

.info {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.info img {
  width: 150px;
  height: 150px;
}

.title {
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

.meta {
  margin: 0;
}

.time {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.time p {
  width: 4rem;
  font-size: 0.95rem;
}
.time .currentTime {
  text-align: right;
}

.time .duration {
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0 4rem;
}

.buttons > * {
  align-items: center;
  justify-content: center;
}

.buttons svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.buttons svg.playpause {
  width: 2rem;
  height: 2rem;
}

.mainButtons {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.25rem;
}

.volume {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.volumeSlider {
  width: 6rem;
  font-size: 0.8rem;
}

@media only screen and (max-width: 720px) {
  .info {
    display: block;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
