---
import MainLayout from "~/layouts/MainLayout.astro"

const en = await Astro.glob("./day-*.md")
const es = await Astro.glob("./dia-*.md")
---

<MainLayout title="The Cloc">
  <h3>English</h3>
  <ul>
    {en.map((doc) => (
      <li>
        <a href={doc.url}>{doc.frontmatter.title}</a>
      </li>
    ))}
  </ul>

  <h3>Español</h3>
  <ul>
    {es.map((doc) => (
      <li>
        <a href={doc.url}>{doc.frontmatter.title}</a>
      </li>
    ))}
  </ul>
</MainLayout>
