---
import MainLayout from "~/layouts/MainLayout.astro"
import { MeasureBPM, PlayBPM } from "~/apps/BPM.tsx"
---

<MainLayout
  content={{
    title: "BPM",
    description: "Beats per minute",
  }}
>
  <h3>Measure BPM</h3>
  <MeasureBPM client:load />

  <hr />

  <h3>Play BPM</h3>
  <PlayBPM client:load />
</MainLayout>
