---
import MainLayout from "~/layouts/MainLayout.astro"
import { Measure } from "~/apps/BPM/Measure.tsx"
import { Play } from "~/apps/BPM/Play.tsx"
---

<MainLayout
  content={{
    title: "BPM",
    description: "Beats per minute",
  }}
>
  <h3>Measure BPM</h3>
  <Measure client:load />

  <hr />

  <h3>Play BPM</h3>
  <Play client:load />
</MainLayout>
