---
import MainLayout from "~/layouts/MainLayout.astro"
import { Measure } from "~/apps/BPM/Measure"
import { Play } from "~/apps/BPM/Play"
---

<MainLayout title="BPM" description="Beats per minute" path={["bpm"]}>
  <h3 class="text-2xl font-bold text-display mb-4">Measure BPM</h3>
  <Measure client:load />

  <hr class="my-8" />

  <h3 class="text-2xl font-bold text-display mb-4">Play BPM</h3>
  <Play client:load />
</MainLayout>
