@import "simpledotcss/simple.css";

:root {
  /* Tailwind pallete "Neutral" and "Red" */
  --bg: #fafafa;
  --accent-bg: #f5f5f5;
  --text: #171717;
  --text-light: #525252;
  --border: #d4d4d4;
  --accent: #dc2626;
  --code: #ef4444;
  --preformatted: #525252;
  --marked: #ef4444;
  --disabled: #e5e5e5;

  --astro-code-color-text: #24292f;
  --astro-code-color-background: #ffffff;
  --astro-code-token-constant: #0550ae;
  --astro-code-token-string: #0a3069;
  --astro-code-token-comment: #6e7781;
  --astro-code-token-keyword: #cf222e;
  --astro-code-token-parameter: #24292f;
  --astro-code-token-function: #8250df;
  --astro-code-token-string-expression: #0a3069;
  --astro-code-token-punctuation: #24292f;
  --astro-code-token-link: #0a3069;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #171717;
    --accent-bg: #262626;
    --text: #fafafa;
    --text-light: #d4d4d4;
    --border: #525252;
    --accent: #ef4444;
    --code: #ef4444;
    --preformatted: #d4d4d4;
    --disabled: #404040;

    /* GitHub Dark */
    --astro-code-color-text: #c9d1d9;
    --astro-code-color-background: #0d1117;
    --astro-code-token-constant: #79c0ff;
    --astro-code-token-string: #a5d6ff;
    --astro-code-token-comment: #8b949e;
    --astro-code-token-keyword: #ff7b72;
    --astro-code-token-parameter: #c9d1d9;
    --astro-code-token-function: #d2a8ff;
    --astro-code-token-string-expression: #a5d6ff;
    --astro-code-token-punctuation: #c9d1d9;
    --astro-code-token-link: #a5d6ff;
  }
}

a [astro-icon] {
  vertical-align: middle;
  padding-right: 0.25em;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.remark-code-title {
  border: 1px solid var(--border);
  background-color: var(--accent-bg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.75rem 1.4rem;
  font-size: 1rem;
  font-family: var(--mono-font);
}

.remark-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

pre span {
  font-size: 0.95rem;
}

code {
  color: var(--astro-code-token-keyword);
}
