@import "utils";

.header {
  > img {
    height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  > div img {
    height: 40px;
    padding: 0 5px;
    margin: 0;
    cursor: pointer;
    filter: grayscale(100%);
    @include animated();

    &:hover,
    &.selected {
      filter: grayscale(0%);
    }
  }
}

.footer {
  margin-top: 100px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;

    li {
      padding: 0 10px;
      display: inline;

      svg {
        color: var(--nc-tx-2);
        opacity: 0.5;
        width: 25px !important;
        height: 25px !important;
        @include animated();

        &:hover {
          opacity: 1;
          color: var(--nc-lk-1);
        }
      }
    }
  }
}
